In [1]:
import pandas as pd
import statistics as st
import mysql.connector
from sqlalchemy import create_engine
!pip install pymysql
import pymysql

Requirement already satisfied: pymysql in c:\users\ronan\anaconda3\lib\site-packages (1.0.2)

In [97]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="brasileirao"
)

print(mydb)


#mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
engine = create_engine('mysql+pymysql://root:admin@localhost/brasileirao', echo=False)
mycursor = mydb.cursor()
data = pd.read_sql('SELECT * FROM brasileirao', engine)
data

<mysql.connector.connection.MySQLConnection object at 0x00000246D5D4A5E0>

,Time,Posição,Jogadores,Média_de_Idade,Estrangeiros,Média_de_valor_de_mercado,Valor_de_mercado_total,Ano,time_ano
0,São Paulo,1,39,"23,6",1,803 mil €,"31,30 mi. €",2006,São Paulo_2006
1,Internacional,2,31,"23,9",3,98 mil €,"3,05 mi. €",2006,Internacional_2006
2,Grêmio,3,34,"22,5",5,65 mil €,"2,20 mi. €",2006,Grêmio_2006
3,Santos,4,32,"22,9",4,878 mil €,"28,10 mi. €",2006,Santos_2006
4,Paraná,5,33,"22,9",0,9 mil €,300 mil €,2006,Paraná_2006
...,...,...,...,...,...,...,...,...,...
315,Juventude,16,49,"25,6",6,547 mil €,"26,83 mi. €",2021,Juventude_2021
316,Grêmio,17,66,"23,2",8,"1,96 mi. €","129,18 mi. €",2021,Grêmio_2021
317,Bahia,18,74,"22,5",6,410 mil €,"30,35 mi. €",2021,Bahia_2021
318,Sport,19,71,"21,8",2,394 mil €,"27,95 mi. €",2021,Sport_2021
319,Chapecoense,20,52,"22,6",0,264 mil €,"13,75 mi. €",2021,Chapecoense_2021

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time                       320 non-null    object
 1   Posição                    320 non-null    object
 2   Jogadores                  320 non-null    object
 3   Média_de_Idade             320 non-null    object
 4   Estrangeiros               320 non-null    object
 5   Média_de_valor_de_mercado  320 non-null    object
 6   Valor_de_mercado_total     320 non-null    object
 7   Ano                        320 non-null    object
 8   time_ano                   320 non-null    object
dtypes: object(9)
memory usage: 22.6+ KB

In [99]:
lista = []
for item in data['Média_de_Idade'].str.split(','):
    lista.append(float(item[0] + '.' + item[1]))
subs = pd.Series(lista, dtype='float')
data['Média_de_Idade'] = subs

In [100]:
data

,Time,Posição,Jogadores,Média_de_Idade,Estrangeiros,Média_de_valor_de_mercado,Valor_de_mercado_total,Ano,time_ano
0,São Paulo,1,39,23.6,1,803 mil €,"31,30 mi. €",2006,São Paulo_2006
1,Internacional,2,31,23.9,3,98 mil €,"3,05 mi. €",2006,Internacional_2006
2,Grêmio,3,34,22.5,5,65 mil €,"2,20 mi. €",2006,Grêmio_2006
3,Santos,4,32,22.9,4,878 mil €,"28,10 mi. €",2006,Santos_2006
4,Paraná,5,33,22.9,0,9 mil €,300 mil €,2006,Paraná_2006
...,...,...,...,...,...,...,...,...,...
315,Juventude,16,49,25.6,6,547 mil €,"26,83 mi. €",2021,Juventude_2021
316,Grêmio,17,66,23.2,8,"1,96 mi. €","129,18 mi. €",2021,Grêmio_2021
317,Bahia,18,74,22.5,6,410 mil €,"30,35 mi. €",2021,Bahia_2021
318,Sport,19,71,21.8,2,394 mil €,"27,95 mi. €",2021,Sport_2021
319,Chapecoense,20,52,22.6,0,264 mil €,"13,75 mi. €",2021,Chapecoense_2021

In [101]:
def strtonum(Coluna):
    count = []
    valor = ''
    lista = []
    for item in Coluna.str.split(' '):
        if ',' in item[0] or '-' in item[0]:
            continue
        elif item[1] == 'mil':
            count.append(int(item[0]))

    for item in Coluna.str.split(' '):
        if '-' in item[0]:
            lista.append(min(count) * 1000)
        elif item[1] == 'mil':
            lista.append(int(item[0]) * 1000)
        elif item[1] == 'mi.':
            valor = item[0].split(',')
            lista.append(float(valor[0] + '.' + valor[1]) * 1000000)
    subs = pd.Series(lista, dtype='float')
    return subs

In [104]:
data['Média_de_valor_de_mercado'] = strtonum(data['Média_de_valor_de_mercado'])

In [105]:
data['Valor_de_mercado_total'] = strtonum(data['Valor_de_mercado_total'])

In [106]:
data

,Time,Posição,Jogadores,Média_de_Idade,Estrangeiros,Média_de_valor_de_mercado,Valor_de_mercado_total,Ano,time_ano
0,São Paulo,1,39,23.6,1,803000.0,31300000.0,2006,São Paulo_2006
1,Internacional,2,31,23.9,3,98000.0,3050000.0,2006,Internacional_2006
2,Grêmio,3,34,22.5,5,65000.0,2200000.0,2006,Grêmio_2006
3,Santos,4,32,22.9,4,878000.0,28100000.0,2006,Santos_2006
4,Paraná,5,33,22.9,0,9000.0,300000.0,2006,Paraná_2006
...,...,...,...,...,...,...,...,...,...
315,Juventude,16,49,25.6,6,547000.0,26830000.0,2021,Juventude_2021
316,Grêmio,17,66,23.2,8,1960000.0,129180000.0,2021,Grêmio_2021
317,Bahia,18,74,22.5,6,410000.0,30350000.0,2021,Bahia_2021
318,Sport,19,71,21.8,2,394000.0,27950000.0,2021,Sport_2021
319,Chapecoense,20,52,22.6,0,264000.0,13750000.0,2021,Chapecoense_2021

In [108]:
data['Posição'] = data['Posição'].astype(int)
data['Jogadores'] = data['Jogadores'].astype(int)
data['Estrangeiros'] = data['Estrangeiros'].astype(int)
data['Ano'] = data['Ano'].astype(int)

In [109]:
data

,Time,Posição,Jogadores,Média_de_Idade,Estrangeiros,Média_de_valor_de_mercado,Valor_de_mercado_total,Ano,time_ano
0,São Paulo,1,39,23.6,1,803000.0,31300000.0,2006,São Paulo_2006
1,Internacional,2,31,23.9,3,98000.0,3050000.0,2006,Internacional_2006
2,Grêmio,3,34,22.5,5,65000.0,2200000.0,2006,Grêmio_2006
3,Santos,4,32,22.9,4,878000.0,28100000.0,2006,Santos_2006
4,Paraná,5,33,22.9,0,9000.0,300000.0,2006,Paraná_2006
...,...,...,...,...,...,...,...,...,...
315,Juventude,16,49,25.6,6,547000.0,26830000.0,2021,Juventude_2021
316,Grêmio,17,66,23.2,8,1960000.0,129180000.0,2021,Grêmio_2021
317,Bahia,18,74,22.5,6,410000.0,30350000.0,2021,Bahia_2021
318,Sport,19,71,21.8,2,394000.0,27950000.0,2021,Sport_2021
319,Chapecoense,20,52,22.6,0,264000.0,13750000.0,2021,Chapecoense_2021